@import 'src/base/variables';
.titleSection {
    display: inline-block;
    line-height: 1;
    padding: 45px 0 20px;
    font-weight: bold;
    position: relative;
    font-size: 18px;
    &::before {
        content: "";
        background-color: $lr-red;
        position: absolute;
        top: 20px;
        width: 95px;
        height: 10px;
    }
}
.title__verificador:before {
    background-color: #008639;
}

@media  (min-width: 600px) {
    .titleSection {
        font-size: 22px;
    }

}
