.columnists {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (min-width: 999px) {
        flex-direction: row;
    }
    &__main {
        width: 100%;
        @media (min-width: 999px) {
            width: calc(100% - 316px);
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 8px;
    }
}
