@import "src/base/variables";
@import "src/base/media-queries";

.inlive {
    background-color: $very-dark-gray;
    padding: 11px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    @include min600p {
        gap: 18px;
        align-items: flex-start;
    }
    &__icon {
        background-color: $transparent;
        color: $white;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 40px;
        &:hover {
            opacity: .8;
        }
        @include min600p {
            display: none;
        }
    }
    &__multimedia {
        width: 124px;
        @include min600p {
            width: 245px;
        }
        &.full-width {
            width: 100%;
            @include min600p {
                width: 245px;
            }
        }
    }
    &__description {
        width: calc(100% - 124px);
        @include min600p {
            width: calc(100% - 245px);
        }
        &.full-width {
            width: 100%;
            @include min600p {
                width: calc(100% - 245px);
            }
        }
    }
    &__title {
        font-family: "Roboto", sans-serif;
        font-size: 1.4rem;
        line-height: 1.15;
        color: $white;
        margin-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include min600p {
            font-size: 2.4rem;
            line-height: 1.25;
        }
    }
    &.full-width {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 10px;
        @include min600p {
            flex-wrap: nowrap;
            flex-direction: initial;
        }
    }
}

.outside-multimedia {
    position: relative;
    padding-top: 56%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
