.thumbnails {
    &__link {
        display: block;
        line-height: 0;
    }
    &__image {
        max-width: 100%;
        object-fit: contain;
        margin: 0 auto;
        &:hover {
            opacity: .8;
        }
    }
}