.GridItem {
    display: inline-block;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 20%;
    }
}

.GridTitle {
    border-left: 10px solid rgb(229, 26, 41);
    padding: 10px 15px;
    margin-bottom: 15px;

    h2 {
        display: inline-block;
        font-family: "Roboto"
    }

    vertical-align: middle;

    a {
        float: right;
        border: 1px solid #e4c37f;
        padding: 10px;

        &:hover {
            background: #e4c37f;
            color: #FFF
        }
    }
}

.GridContainer {
    @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}