.section {
    margin-right: 8px;
}

.columnist__container {
    flex-direction: column;
    padding: 8px 0;


}

.seeMore_button {
    width: 100%;
    height: 50px;
    background: #FE0404;
    border-radius: 5px;
    font-variant: small-caps;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.seeMore_button:hover {
    background: #e90000;
}
.columnist {
    margin-bottom: 24px;
    display: flex;
    gap: 16px;
    & figure {
        transition-property: opacity;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .3s;
        min-width: 124px;
        height: 124px;
        display: flex;
    }
    &__content {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 5px;
    }
    &__image {
        min-width: 100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        object-fit: cover;
    }
    &__title {
        font-family: PT serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        max-height: 60px;
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        transition-property: opacity;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .3s;
    }
    &__tag {
        font-family: Roboto,sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #fe0404;
        text-transform: uppercase;
        transition-property: opacity;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .3s;
        font-variant: all-small-caps;
    }
    &__time {
        display: inline-block;
        white-space: nowrap;
        font-variant: all-small-caps;
        font-family: Roboto,sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #666;
    }
    &__author {
        display: flex;
        justify-content: space-between;
        &--name {
            text-transform: uppercase;
            font-variant: all-small-caps;
            font-size: 14px;
            line-height: 16px;
        }
    }
}