@import 'src/base/variables';

.print-edition {
    background-color: $very-light-gray;
    padding: 1.6rem;
}

.tab__list {
    column-gap: .8rem;
    margin-bottom: .8rem;
}

.tab__panel {
    min-height: 360px;
}