@import "src/base/variables";

.scrollbar {
    &__container {
        padding: 0 16px;
        height: 435px;
        overflow-y: auto;
        background-color: $very-light-gray;
        border-bottom: 16px solid $very-light-gray;
        border-top: 16px solid $very-light-gray;
        &::-webkit-scrollbar {
            width: 8px;
        }       
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $gray; 
            border-radius: 4px;
        }       
        &::-webkit-scrollbar-thumb {
            background-color: $emperor-gray; 
            border-radius: 4px;
        }       
    }
}