@import 'src/base/media-queries';

.special-branding {
    &__image {
        max-width: 100%;
        object-fit: cover;
        margin: 0 auto;

        &:hover {
            opacity: .8;
        }
    }
}

.minisite {
    flex-wrap: wrap;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
    margin: 0 -8px;

    & a {
        padding: 8px;
        flex: 0 0 100%;
        max-width: 310px;

        @include min768p {
            flex: 0 0 33%;
        }
    }
}

.outside-image {
    overflow: hidden;
    position: relative;
    display: block;
    padding-top: 48.38%;

    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.middle-column {
    a {
        display: block;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}