@import 'src/base/variables';

.announcement__item {
    display: flex;
    background: $very-light-gray;
    padding: 0 16px 16px;
    align-items: center;
}
.announcementGrid {
    background: $very-light-gray;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
}
.announcement__image {
    flex: 0 0 25%;
    max-width: 60px;
}
.announcement__content {
    margin-left: 10px;
    font-size: 1.4rem;
    line-height: 1.15;
    text-transform: uppercase;
}