.FooterContainer {
    background-color: #1c2938;
    text-align: center;
    color: #FFF;
    padding: 20px;
    font-size: 12px;

    span {
        display: block;
        margin-bottom: 5px;
    }

    :global(.footer-logo) {
        display: block;

        img {
            margin: 0px auto 20px;
        }
    }
}