@import 'src/base/variables';
.columnist__primary {
    padding: 16px;
    transition: all 0.3s ease;
    background-color: #f4f4f4;
    border-radius: 0px 0px 5px 5px;
    border: 05px solid #f4f4f4;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        transform: translateY(-1px);
    }
    &--head {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }
    &--image {
        border-radius: 5px;
        width: 80px;
        height: 80px;
        img {
            border-radius: 5px;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &--info {
        max-width: calc(100% - 96px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 80px;
    }
    &--title,
    &--title a {
        display: block;
        color: $medium-gray;
        font-size: 2.4rem;
        line-height: 28px;
        font-weight: 700;
        text-decoration: none;
        font-family: "Roboto";
    }
    &--description {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 16px;
    }
    .columnist__name a,
    &--column a {
    text-transform: uppercase;
    color: $lr-red;
    font-size: 1.4rem;
    line-height: 16px;
    font-family: Roboto, sans-serif;
    font-variant: all-small-caps;
    position: relative;
    }
}
.columnist__description--more {
    color: $lr-red;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.5rem;
    font-variant: small-caps;
}
.columnist__description-desktop {
    display: none;
    margin-bottom: 16px;
    margin-top: 8px;

    span,
    p {
        color: $lr-red;
        font-weight: 700;
        cursor: pointer;
        font-size: 1.5rem;
        font-variant: small-caps;
    }
}
.last-article-desktop {
    display: none;
}
.columnist__description-mobile {
    display: block;
    margin: 16px 0;
    span,
    p {
        color: $lr-red;
        font-weight: 700;
        cursor: pointer;
        font-size: 1.5rem;
        font-variant: small-caps;
    }
}
.last-article-data {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    color: $granite-gray;
    font-size: 1.4rem;
    line-height: 16px;
    font-weight: 700;
    .last-article {
        width: calc(100% - 150px);
        font-weight: 700;
        font-size: 1.4rem;
        color: $medium-gray;
        line-height: 20px;
        text-decoration: underline;
        cursor: pointer;
    }
    .last-article-date {
        width: 130px;
    }
}
.last-article-mobile {
    display: block;
}

@media (min-width: 780px) {
    .columnist__primary--image {
        min-width: 188px;
        min-height: 188px;
    }
    .columnist__primary--info {
        max-width: calc(100% - 204px);
        min-height: 188px;
        justify-content: start;
        .columnist__primary--title a {
            margin: 9px 0;
        }
        .columnist__primary--column {
            display: none;
        }
    }
    .columnist__description-desktop {
        display: block;
    }
    .last-article-desktop {
        display: block;
    }
    .columnist__name {
        margin-bottom: 8px;
    }

    .columnist__description-mobile {
        display: none;
    }
    .last-article-mobile {
        display: none;
    }
}

// secondary
.columnist-card {
    display: flex;
    gap: 16px;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        border-radius: 5px;
        transform: translateY(-1px);
    }
    &__image {
        width: 124px;
        height: 124px;
        img {
            border-radius: 5px;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - 140px);
    }
    &__title {
        font-weight: 700;
        font-size: 1.6rem;
        color: $medium-gray;
        line-height: 20px;
        margin-bottom: 16px;
        text-decoration: underline;
        a {
            position: relative;
        }
    }
    &__name_column a {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 16px;
        color: $lr-red;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-variant: all-small-caps;
        position: relative;
    }
    &__last-article {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 16px;
        color: $granite-gray;
    }
    &__name-columnist {
        text-transform: uppercase;
        color: $granite-gray;
    }
    &__date {
        display: none;
        @media (min-width: 780px) {
            display: block;
        }
    }
}