.container__sectionGrid {
  margin-top: 24px;
  background: linear-gradient(180deg, rgba(6, 0, 71, 0.75) 0%, rgba(0, 0, 0, 0.7) 100%);
  padding: 0 16px;
}
.listItem__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sectionGrid__head {
  display: flex;
  align-items: flex-start;
  margin: 0;
  gap: 8px;
  padding-bottom: 9px;
  padding-top: 8px;
  margin-bottom: 8px;
  position: relative;
  padding-top: 24px;
}
.sectionGrid__head h2 {
  color: #ffffff;
}

.sectionGrid__head__linkTo {
  display: block;
  font-family: "Roboto";
  font-weight: 700;
  font-variant: all-small-caps;
  font-size: 24px;
  line-height: 1.6rem;
  color: #ffffff;
  margin-top: 5px;
}
.sectionGrid__head__separator {
  background-color: #ffffff;
  height: 28px;
  width: 2px;
  display: block;
  margin: 0;
}
.listItem__container-secondaryCard {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 8px 0px;
}

.listItem__container-secondaryCard {
  div:nth-child(6) {
    display: none;
  }
  div:nth-child(7) {
    display: none;
  }
  div:nth-child(8) {
    display: none;
  }
}

@media (min-width: 769px) {
  .listItem__container {
    // flex-direction: row;
    justify-content: space-between;
  }
  .listItem__container-primaryCard {
    width: 100%;
  }
  .listItem__container-secondaryCard {
    width: 100%;
    // grid-template-columns: 1fr 1fr;
    gap: 16px;
    div:nth-child(6) {
      display: flex;
    }
    div:nth-child(7) {
      display: flex;
    }
    div:nth-child(8) {
      display: flex;
    }
  }
}
