@import "src/base/variables";


.sectionEstrenos{
  height: 353px;
  margin: 0 -16px;
  background-image: url('/static/prueba_spoiler/bg_cinema.svg');
  margin-bottom: 40px;
  margin-top: 40px;
}

.container__estrenos {
  padding: 24px 16px;
}

.grid__estrenos{
  gap: 16px;
  display: flex;
  margin-top: 24px;
  overflow-x: scroll;
}

.grid__estrenos::-webkit-scrollbar {
  display: none;
}

.card_poster{
  min-width: 145px;
}
.sectionGrid__head {
  display: flex;
  align-items: flex-start;
  margin: 0;
  gap: 8px;
  padding: 0 0 16px 8px;
  position: relative;
}
.sectionGrid__head h2 {
  color: $white;
}
.sectionGrid__head__linkTo {
  display: block;
  font-family: "Roboto";
  font-weight: 700;
  font-variant: all-small-caps;
  font-size: 24px;
  line-height: 1.6rem;
  color: $white;
  margin-top: 5px;
}
.sectionGrid__head__separator {
  background-color: $white;
  height: 28px;
  width: 2px;
  display: block;
  margin: 0;
}

.logo__empresas__online{
  display: flex;
  gap:16px
}

.title__poster{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 8px;
  color: $white;
  margin-top: 8px;
  margin-bottom: 8px;
}
.estrenos__img{
  width: 145px;
  height: 214px;
}

.arrowRight {
  position: absolute;
  top: calc(50% - 24px);
  right: 0px;
  cursor: pointer;
}

.arrowLeft {
  position: absolute;
  top: calc(50% - 24px);
  left: 0px;
  cursor: pointer;
}

.arrowLeft:hover {
  opacity: 0.6;
}
.arrowRight:hover {
  opacity: 0.6;
}
