@import "src/base/variables";

.accordion {
    width: 100%;
    background: #e4e4e4;
    margin-bottom: 15px;
}
.accordion__link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #cfcccc;
    width: 100%;
    padding: 9px;
    font-size: 20px;
    cursor: pointer;
}
.accordion__item {
    display: grid;
    grid-template-rows: 1fr;
    transition: 0.3s grid-template-rows;
    overflow: hidden;

    div {
        overflow: hidden;
        font-size: 16px;
    }
}
.accordion__hidden {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s grid-template-rows;
    overflow: hidden;

    div {
        overflow: hidden;
        font-size: 16px;
    }
}

.accordion__box {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 0px 10px 0 50px;
    margin: 25px 0;

    p {
        width: 23%;
        overflow: hidden;
    }
    .p__red {
        color: red;
        width: 31%;
    }
    @media (max-width: 780px) {
        flex-direction: column;
        p {
            width: auto;
        }
        .p__red {
            width: auto;
        }
    }
}
