@import "src/base/variables";

.header__contacto {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
    .header__contacto {
        flex-direction: row;
    }
}
.title__contacto {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size:25px;
    padding-top: 0;
}
@media screen and (min-width: 600px) {
    .title__contacto {
        width: 50%;
        padding-top: 2rem;
    }
}
.info__GLR {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    p{
        font-size: 16px;
    }
}
@media screen and (min-width: 600px) {
    .info__GLR {
        width: 50%;
        align-items: flex-end;
        
    }
}
.imageLogo {
    display: block;
    margin-bottom: 5px;
}
.imageLogo img {
    width: 205px;
}
