.HeaderContainer {
    position: sticky;

    :global(.top-container) {
        background: #DDD;
    }

    :global(.header-content) {
        background: rgb(0, 48, 72);
        border-bottom: 3px solid rgb(228, 195, 127);
    }

    :global(.wrapper__content) {
        background: none;
    }
}