.GalleryContainer {
    margin-bottom: 15px;

    :global(.slick-list),
    :global(.slick-slider) {
        height: 100%;
    }

    :global(.slide-educacion) {
        padding-top: 45%;
        position: relative;
        overflow: hidden;

        .sliderEducacionContent {
            position: absolute;
            z-index: 1;
            top: 0;
            width: 100%;
            height: 100%;
            color: #FFF;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 35px;
            background: rgba(0, 0, 0, .5);

            @media screen and (min-width: 999px) {
                padding: 30px 200px;
            }

            h1 {
                text-transform: uppercase;
                color: #FFF;
                margin-bottom: 10px;
                font-family: "Lato", sans-serif;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
                display: block;

                @media screen and (min-width: 768px) {
                    margin-bottom: 26px;
                }

                @media screen and (min-width: 768px) {
                    font-size: 30px;
                    max-height: 50%;
                }

                @media screen and (min-width: 999px) {
                    font-size: 40px;
                    font-weight: 800;
                }
            }

            a {
                padding: 10px 20px;
                border: solid 3px #FFF;
                border-radius: 5px;
                display: inline-block;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 1px;

                &:hover {
                    background: #FFF;
                    color: #000
                }
            }
        }

        :global(img) {
            position: absolute;
            top: 0;
            width: 100%;
            min-height: 100%;
        }
    }

    :global(.slick-arrow) {
        /* color: #FFF; */
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
            cursor: pointer
        }

        font-size: 20px;

        @media screen and (min-width: 768px) {
            font-size: 40px;
        }

        z-index: 1;
        font-weight: 700;
        color: #FFF;
    }

    :global(.slick-prev) {
        left: 10px;
    }

    :global(.slick-next) {
        right: 10px;
    }

    :global(.slick-disabled) {
        color: #222;

        &:hover {
            cursor: not-allowed;
        }
    }
}

.NavSlider {
    color: #FFF;
    position: absolute;
    bottom: 40px;
    left: 50px;

    li {
        display: inline-block;

        button {
            background: none;
            border-radius: 50%;
            border: 1px solid #FFF;
            width: 10px;
            height: 10px;
            content: " ";
            margin-right: 10px;

            &:hover {
                cursor: pointer
            }
        }

        &:global(.slick-active) {
            button {
                background-color: rgb(217, 48, 37);
                box-shadow: none;
                border: 1px solid rgb(217, 48, 37);
            }
        }
    }


}