@import 'src/base/variables';
.wrapper__columnist{
    @media screen and (min-width: 1000px) {
        flex-direction: row-reverse;
    }
}
.authors__btn-show-more {
    background-color: $lr-red;
    border-radius: 5px;
    font-size: 1.6rem;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    padding: 10px 0;
    width: 100%;
    border: 0;
    margin: 24px 0;
    cursor: pointer;

    @media (min-width: 780px) {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 2.8rem;
    }
}

.info-columnist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background: $grayish-white;
    border: 0.5px solid $border-gray;
    border-radius: 0px 0px 5px 5px;

    span {
        color: $lr-red;
        font-weight: 700;
        cursor: pointer;
        font-size: 1.5rem;
        font-variant: small-caps;
    }

    .img-columnist img {
        display: block;
        border-radius: 3px;
        width: 100%;
        object-fit: cover;

        @media (min-width: 330px) {
            width: 311px;
            height: 311px;
        }

        @media (min-width: 780px) {
            width: 196px;
            height: 196px;
        }

        @media (min-width: 999px) {
            width: 268px;
            height: 268px;
        }
    }

    .info-columnist__title {
        color: $medium-gray;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 28px;
        text-align: center;
        font-family: "PT Serif", serif;
    }

    .info-columnist__column {
        color: $lr-red;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 16px;
        text-transform: uppercase;
    }

    .info-columnist__description {
        color: $medium-gray;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }
}

.list-articles-columnist__desktop,
.list-articles-columnist__mobile {
    .info-columnist__title {
        color: $black;
        font-weight: 700;
        font-size: 2.4rem;
        line-break: 28px;
        padding: 8px 4px;
        font-family: "PT Serif", serif;
    }

    margin-top: 24px;

    a {
        font-size: 1.6rem;
    }
}
