@import "src/base/variables";
.content__author { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    @media (min-width: 1000px){
        margin: 16px;
    }
    figure {
        width: 24px;
        height: 24px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 12px ;
        }
    }
    .author__image {
        display: flex;
        gap: 10px;
        align-items: center;
        color: $granite-gray;
        font-weight: 700;
        text-decoration: none;
        margin: 4px 0;
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        font-feature-settings: "smcp", "c2sc";
        font-variant: all-small-caps;
    }
}
.main__date {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-variant: all-small-caps;
    color: $granite-gray;
}
.content__notice__verificador {
    padding: 0 10px 40px 10px;
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    table {
        font-size: 14px;
        max-width: 640px;
        width: 100%;
        margin: auto;
        border: 1px solid $light-gray;
        tr:nth-of-type(even) {
            background: $white;
        }
        tr {
            background: rgba(0, 0, 0, 0.11);
            td {
                padding: 10px;
            }
            th {
                vertical-align: bottom;
                border-bottom: 2px solid $light-grayish-blue;
            }
        }
    }
    b {
        font-weight: 600;
    }
    a {
        text-decoration: underline;
        color: #333340;
        font-weight: normal;
        overflow-wrap: break-word;
        &:hover {
            color: #e30009;
        }
    }
    & iframe {
        width: 100%;
        margin: auto;
        padding: 8px 0;
        @media (min-width: 1000px){
            padding: 0 24px;
            height: 500px;
            margin: 8px;
        }
    }
    & p {
        display: block;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        padding-bottom: 10px;     
        iframe {
            width: 100%;
        }
    }
    & a {
        color: #8a8a8a;
        text-decoration: #000;
        border-bottom: 1px dotted rgb(5, 13, 247);
        font-weight: 700;
        overflow-wrap: break-word;
        &:hover {
            cursor: pointer;
            transition: 0.3s;
            opacity: 0.7;
            color: #292a43;
            border-bottom: 1px solid;
        }
    }
    & blockquote {
        width: 100%;
        margin-bottom: 8px;
        border-left: 3px solid #4e4d4d;
        margin-top: 8px;
        & p {
            padding-left: 10px;
            font-size: 18px;
        }
        & cite {
            padding-left: 10px;
            font-size: 12px;
        }
    }
    & h2, h3, h4, h5 {
        color: #292a43;
        margin: 2rem 0 1rem;
        width: 100%;
        font-family: Roboto, sans-serif;
    }
    & h2 {
        font-size: 24px;
        line-height: 28px;
    }
    & h3 {
        font-size: 22px;
        line-height: 24px;
    }
    & h4 {
        font-size: 20px;
        line-height: 20px;
    }
    & h5 {
        font-size: 18px;
        line-height: 20px;
    }
}