@import "src/base/variables";
.picture__title {
    margin: 10px 0;
    text-rendering: optimizeSpeed;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.1;
}
.picture__description {
    margin: 10px 0;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: inherit;
    line-height: 1.8;
    font-family: inherit;
    a {
        text-decoration: underline;
        &:hover {
            color: $granite-gray;
        }
    }
}
.picture__main {
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
}
.content {
    position: relative;
    height: auto;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.wrapper {
    overflow: hidden;
    position: relative;
    display: block;
    padding-top: 59%;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
    }
}
.wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrapper h4 {
    position: absolute;
    top: 70%;
    font-size: 30px;
    left: 50%;
    width: 80%;
    color: $white;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}
.wrapper span {
    position: absolute;
    bottom: 6%;
    left: 50%;
    width: 70%;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: $white;
    transform: translate(-50%, -50%);
    margin: 0;
}
@media (max-width: 1000px) {
    .wrapper h4 {
        font-size: 24px;
        width: 80%;
    }
    .wrapper span {
        bottom: 15%;
        font-size: 18px;
        width: 87%;
    }
    @media (max-width: 770px) {
        .wrapper h4 {
            font-size: 18px;
        }
        .wrapper span {
            font-size: 11px;
        }
    }
}

