.HeaderContainer {
    position: sticky;

    :global(.top-container) {
        background: #DDD;
    }

    :global(.header-content) {
        background-color: rgb(244, 246, 246);
        border-bottom: 3px solid rgb(229, 26, 41);

        
    }

    :global(.wrapper__content) {
        background: none;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0px auto;
        font-weight: 800;
        font-size: 12px;
        padding: 20px 15px 15px;
    }

    :global(.wrapper__content img) {
        height: 55px;
    }

    :global(.wrapper__content div a) {
        text-decoration: none;
        color: rgb(112, 112, 112);
        margin-right: 60px;
        font-size: 13px;
    }

    :global(.wrapper__content div a:last-of-type) {
        margin-right: 0px;
    }
}