.wrapper-articles {
    width: 100%;
    min-height: 600px;
    max-width: 1170px;
    margin: 0 8px;
}
.content-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    margin: 8px;
}
.btn-minisite {
    text-align: center;
    border: 1px solid #1c2938;
    color: #3c3c3b;
    border-radius: inherit;
    font-size: 16px;
    padding: 15px 0;
    width: 220px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-bottom: 100px;
    &:hover {
        opacity: 0.8;
    }
}
@media (min-width: 1000px) {
    .title {
        font-size: 30px;
    }
    .wrapper-articles {
        margin: auto;
    }
}
.wrapper-title {
    margin: 20px 0;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    position: relative;
    color: #0a0642;
    padding-left: 16px;
    margin-left: 16px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: 5px;
        height: 30px;
        background-color: rgb(229, 26, 41);
        @media (min-width: 600px) {
            top: 7px;
        }
    }
    @media (min-width: 1000px) {
        font-size: 30px;
    }
}
