.sectionContainer {
    margin-top: 16px
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin: 8px 0 16px 0;
    margin-left: 8px;
}

.img__container {
    display: flex;
    width: 220px;

    @media screen and (max-width: 340px) {
        width: 170px;
    }
}

.img__container img {
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
    width: 220px;
    height: 124px;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    cursor: pointer;
}

.right__container {
    @media screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 132px;
    }
}

.name__container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    @media screen and (max-width: 1000px) {
        flex-direction: column;
        margin-left: 0;
    }
}

.name__container h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-left: 8px;
    @media screen and (max-width: 1000px) {
        margin-left: 0;
    }
}

.seeMore_button {
    background: #FE0404;
    border-radius: 3px;
    width: 70px;
    height: 24px;
    color: #fff;
    margin-top: 15px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    border: none;
    font-size: 10px;
    line-height: 12px;
    margin-left: 20px;
    cursor: pointer;
    @media screen and (max-width: 1000px) {
        margin: 0;
    }
}