.secondarySpotlight__title,
.lateralSpotlight__title,
.primarySpotlight__title {
    font-weight: 500;
    line-height: 1.2;
}
.lateralSpotlight__author,
.mainSpotlight__author {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: grey;
    margin-top: 5px;
}
.mainSpotlight__principal {
    .primarySpotlight__image {
        max-width: 100%;
        object-fit: cover;
        min-height: 188px;
        width: 100%;
    }
    .primarySpotlight__title {
        font-size: 2.4rem;
        line-height: 1.085;    
    }
}
.primarySpotlight__content {
    position: relative;
    padding: 20px 0;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        width: 95px;
        height: 10px;
        background-color: #e30613;
        box-shadow: 12px -5px 0 12px #fff;
    }
}
.mainSpotlight__secondary {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
    grid-gap: 20px;
    padding: 0 0 20px;
}
.mainSpotlight__lateral {
    .lateralSpotlight__content {
        padding: 15px 0;
        border-bottom: 1px solid #e5e5e5;
        .lateralSpotlight__item {
            display: block;
            border-left: 3px solid #e30613;
            padding: 0 15px;
        }
    }
}
@media (min-width: 767px) {
    .mainSpotlight__lateral{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}
@media (min-width: 999px) {
    .cover__elections {
        display: flex;
        margin-bottom: 20px;
    }
    .mainSpotlight__principal {
        width: calc(100% - 519px);
        position: relative;
        margin-right: 30px;
    }
    .mainSpotlight__lateral {
        width: 449px;
        display: block;
    }
}
