.electoralGuide {
    margin-right: -10px;
    margin-left: -10px;
    .electoralGuide__item {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding: 0 10px 15px;
        figure {
            overflow: hidden;
         }
    }
    .electoralGuide__image {
        margin: 0;
        width: 100%;
        transition: all 1s;
    }
    .electoralGuide__image:hover {
        opacity: 0.8;
        color: #000;
    }
    .electoralGuide__image:hover {
        transform: scale(1.1);
    }
    .electoralGuide__title {
        font-size: 16px;
        padding: 10px 0;
        margin-bottom: 12px;
    }
}
@media screen and (min-width: 767px) {
    .electoralGuide {
        margin-right: -15px;
        margin-left: -15px;
    }
    .electoralGuide__item {
        width: 33.33% !important;
        padding: 0 15px;
    }
    .electoralGuide__image {
        min-height: 170px;
        
    }

}