
.flexContainerDomingo {
    display: flex;
    gap: 16px;
}

.gridDomingo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}
.domingoSpotlightMargin {
    margin-top: 16px;
}

.dobleColumnDomingo {
    grid-column: 1/3;
}

.spaceInterGridDomingo {
    margin-top: 24px;

    @media (max-width: 768px) {
        margin-top: 0;
    }
}