@import "src/base/variables";
.showMore__button {
    background-color: $lr-red;
    border: none;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 11px 0 11px 0;
    width: 100%;
    text-transform: uppercase;
    outline: none;

    @media screen and (max-width: 673px) {
        font-size: 16px;
        line-height: 19px;
        padding: 10px 0 11px 0;
    }
}
.opacity-50 {
    opacity: 50%;
    cursor: progress;
}