@import 'src/base/variables';


.main__price {
    display: flex;
    flex: 1;
    padding: 16px 34px;
    gap: 48px;
    background-color: #F4F4F4;
    border: 0.5px solid #E4E4E4;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 32px;

    @media screen and (max-width: 673px) {
        flex-direction: column;
        gap: 24px;

    }

}


.main__price__change {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 8px;


}

.price__change {

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;

    input {
        width: 72px;
    }

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        margin: 7px;

        &:nth-child(2) {
            border-left: 2px solid #D9D9D9;
        }
    }

}

.price__change__cal {

    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;


    input {
        width: 72px;

    }

    div {

        gap: 8px;
        padding: 7px 10px 4px 0;



    }



}

.box__change__cal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.title__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $medium-gray;

}

.subtitle__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $lr-red;
    display: flex;
    justify-content: center;
}

.subtitle2__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $gray
}

.subtitle2__price__red {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $lr-red;
}


.input__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $medium-gray;

}


.subtitle__price__change {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $medium-gray;
}