@import 'src/base/variables';

.grid__horoscopo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px 0;

    @media screen and (max-width: 744px) {
        grid-template-columns: repeat(2, 1fr);

    }
}

.grid__horoscopo__small {
    display: flex;
    max-width: 968px;
    overflow-x: auto;
    gap: 20px;
    margin: 10px 0 30px 0;
    flex-direction: row;
    align-items: center;

    li{
        display: inline-block;
        
        flex-shrink: 0;
        scroll-snap-align: start;
        img{
            width: 70px;
        height: 70px;
        border-radius: 70px;

        }
    }
}

.main__horoscopo {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    padding: 14px;

    h2 {
        font-size: 24px;
        font-family: Roboto;
        font-weight: bold;
        line-height: 26px;
    }

    span {
        font-family: Roboto;
        font-weight: bold;
        line-height: 14px;
        color: #606060;
    }

}

.horoscopo__img {
    width: 130px;
    height: 127px;

}


