$transparent: #00000000;
$white: #fff;
$black: #101010;
$medium-dark-gray: #535353;
$medium-gray: #333333;
$medium-dark-gray: #535353;
$gray: #808080;
$dark-gray:#202020;
$light-gray: #E4E4E4;
$purple: #BC00FF;